$heroColor: #fff;
$siteColor: #000;
$siteColor2: #e5e8ee;

%img{
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    font-family: 'Nunito', sans-serif;
}

.hero{
    background-image: url("../img/hero_house.jpg");
    @extend %img;
    height: 40rem;
    color: $heroColor;
    @media (max-width: 991.98px){
        
        nav{   
            z-index: 77;
            position: relative; 
            left: 0%;
            width: 100%;
    
            #navbarNavAltMarkup{
            z-index: 77;
            position: absolute;
            padding: 0;
            top: 56px;
            left: 0%;
            width: 100%;
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);        
        };
    };
};
}
    



.section{
    @media (max-width: 768px){
        padding: 2rem 0;
    };
    @media (min-width: 768px){
        padding: 7rem 0;  
    };
};

.lightblue{
    background-color: $siteColor2;
}

.card{
    border: none;
    box-shadow: 0 2.5rem 1.5rem -2rem lightgrey;
    @media (max-width: 768px){
        box-shadow: none
    };
}

%arrow{
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

    .arrow-right {
        @extend %arrow;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);  
    }
    .navbar-nav{
        .nav-link{ 
            @media (max-width: 991.98px){
                padding-left: 1rem;
            };
            @media (min-width: 992px) {
                padding-left: 3rem!important;
                padding-right: 3rem!important;
            };
            .arrow-down{
            @extend %arrow;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            position: absolute;
            @media (max-width:991.98px) {
                top: 12px;
                left: 92px;
            }
            @media (min-width: 992px) {
                top: 13px;
                left: 30px;
            }
          }
        }
        
    }
        


    .display-2{
        color: darkblue;
        opacity: .5;
        &:first-child{
            opacity: 1;
        }
    }

    .iphone-img{
        &:first-child{
            top: -3rem;
            right: .5rem;
        };
        &:last-child{
            opacity: 0;
        };
    }

    


.hrBlue{
    background-color: darkblue;
    margin-top: 7rem;
    margin-bottom: 3rem;
    height: .2rem;
}

.relative-col{
    @media (max-width: 767.98px){
        min-height: 28rem
    };
    .round-1{
        @extend %img;
        border-radius: 50%;
        width: 7rem;
        height: 7rem;
        background-image: url("../img/house_round_1.jpg");
        top: 50%;
        right: 40%;
        @media (max-width: 575.98px){
            top: 10%;
            right: 50%;
        };
        @media (min-width:576px) and (max-width: 767.98px){
            top: 15%;
            right: 50%;
        };
        @media (min-width: 768px) and (max-width: 991.98px){
        };
    }

    .round-2{
        @extend %img;
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        background-image: url("../img/house_round_2.jpg");
        top: 175%;
        right: 20%;
        @media (max-width: 575.98px){
            top: 35%;
            right: 15%;
        };
        @media (min-width: 576px) and (max-width: 767.98px){
            top: 35%;
            right: 25%;
        };
        @media (min-width: 768px) and (max-width: 991.98px){
        };
    }
    
    .round-3{
        @extend %img;
        border-radius: 50%;
        width: 7rem;
        height: 7rem;
        background-image: url("../img/house_round_3.jpg");
        top: 330%;
        right: 45%;

        @media (max-width: 575.98px){
            top: 70%;
            right: 50%;
        };
        @media (min-width: 576px) and (max-width: 767.98px){
            top: 65%;
            right: 50%;
        };
        @media (min-width: 768px) and (max-width: 991.98px){
            top: 310%;
            right: 60%;
        };
    }
}



.news-card{
    min-height: 28rem;
}

footer{
    a{
    color: $siteColor;
    opacity: .7;
        &:hover{
        color: $siteColor;
        opacity: 1;
    }
    }
    p{
        color: #777;
    }
    
}

.navbar-light{
    a{
        &:first-child{
            font-weight: bold;
        }
    }
}
